@page

@{
}
<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
    <div class="wrap">
        <div class="main">
            <div class="content">
                <div class="section group">
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>За нас</h3>
                        <img src="images/about_img.jpg" alt="">
                        <p> Добре дошли в нашия онлайн магазин за компютри. Ние сме водещ доставчик на компютърни продукти в България, 
                            предлагащ широка гама от качествени компютърни системи, компоненти, периферия и аксесоари.В нашия магазин можете да 
                            намерите всичко необходимо за изграждането на персонален компютър, както и за ъпгрейд и поддръжка на вашия настолен или 
                            лаптоп компютър. От процесори, видеокарти, дънни платки и памет, до твърди дискове, монитори, клавиатури и мишки - всичко
                            е налично на едно място.Ние сме на разположение да ви помогнем при избора на подходящите продукти за вашите нужди и да 
                            отговорим на всякакви въпроси, свързани с компютърните продукти.</p>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>ИСТОРИЯ</h3>
                        <div class="history-desc">
                            <div class="year"><p>1998 -</p></div>
                            <p class="history">1998 г. - Това е годината, в която за първи път нашия онлайн магазин за компютри - "Нome shoppe " е създаден в България. Той предлага персонални компютри и компютърни аксесоари за домашни и бизнес потребители.</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                            <div class="year"><p>1999 -</p></div>
                            <p class="history">С появата на платформи като eBay и Amazon, търговията на компютърни продукти в онлайн магазини се променя, също така и при нас. Сега, потребителите могат да купуват компютърни продукти от различни продавачи, които публикуват своите оферти на тези платформи.</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                            <div class="year"><p>2008 -</p></div>
                            <p class="history">Онлайн магазини като Newegg.com и TigerDirect.com стават популярни за покупка на компютърни части и аксесоари. Тази година ние започваме да предлагаме голям избор от продукти на достъпни цени, което ги прави клиентие привлекателни за геймане и ентусиасти на компютърната технология.</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                             <div class="year"><p>2016 -</p></div>
                            <p class="history">С нарастващото влияние на интернет технологиите, започваме да предлагат на своите клиенти бързо и удобно онлайн пазаруване на компютърни продукти.</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                            <div class="year"><p>2021 -</p></div>
                            <p class="history">Управлението на онлайн магазин за компютри през 2021 година изисква постоянно следене на последните тенденции и новости в индустрията, както и на конкуренцията. Един от най-важните аспекти е да се предоставят на клиентите най-новите и иновативни продукти, които отговарят на техните нужди и предпочитания.</p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>Възможности</h3>
                        <p>Един онлайн магазин за компютри може да предостави на клиентите много различни възможности за пазаруване на компютърни продукти и услуги. Ето някои от тях:</p>
                        <div class="list">
                            <ul>
                                <li><a href="#">Голямо разнообразие от продукти - онлайн магазините за компютри могат да предложат на клиентите голямо разнообразие от продукти, от лаптопи и настолни компютри до компютърни компоненти и периферни устройства.</a></li>
                                <li><a href="#">Удобство - клиентите могат да пазаруват в удобно за тях време и място, без да са ограничени от работното време на магазина.</a></li>
                                <li><a href="#">Ниските цени - онлайн магазините за компютри могат да предложат по-ниски цени поради по-ниски разходи за наем на магазини и заплати за персонал.</a></li>
                                <li><a href="#">Поръчки и доставки - клиентите могат да поръчват продукти онлайн и да ги получават в удобно за тях време и място.</a></li>
                                <li><a href="#">Онлайн чат - магазините за компютри могат да предоставят онлайн чат, който да помага на клиентите да намерят правилния продукт и да получат отговори на въпросите си.</a></li>
                                <li><a href="#">Гаранции и сервиз - магазините за компютри могат да предлагат гаранции и сервиз, който да помогне на клиентите, ако има проблеми с техните продукти.</a></li>
                                
                            </ul>
                        </div>
                        <p>Благодарим ви, че посетихте нашия онлайн магазин и се надяваме да ви предоставим отлично обслужване и качествени продукти.
                            Не се колебайте да се свържете с нас, ако имате някакви въпроси или нужда от помощ.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Информация</h4>
                    <ul>
                        <li><a href="about.html">За нас</a></li>
                        <li><a href="contact.html">Обслужване на клиенти</a></li>
                        <li><a href="delivery.html">Поръчки и връщания</a></li>
                        <li><a href="contact.html">Свържете се с нас</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>ЗАЩО ДА КУПУВАТЕ ОТ НАС</h4>
                    <ul>
                        <li><a href="about.html">За нас</a></li>
                        <li><a href="contact.html">Обслужване на клиенти</a></li>
                        <li><a href="#">Политика за поверителност</a></li>
                        <li><a href="contact.html">Карта на сайта</a></li>
                        <li><a href="#">Условия за търсене</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>МОЙОТ АКАУНТ</h4>
                    <ul>
                        <li><a href="contact.html">Регистрирай се</a></li>
                        <li><a href="index.html">Вижте количката</a></li>
                        <li><a href="#">Моят магазин</a></li>
                        <li><a href="contact.html">Помош</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Контакти</h4>
                    <ul>
                        <li><span>088-345-0780</span></li>
                        <li><span>088-231-2333</span></li>
                    </ul>
                    <div class="social-icons">
                        <h4>Последвай ни</h4>
                        <ul>
                            <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
                            <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p>&copy; 2023. HOME SHOP.</p>
        </div>
    </div>
    <script type="text/javascript">$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

