@page

@{
}
<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
    <div class="wrap">
        <div class="main">
            <div class="content">
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <img src="images/newsimg1.jpg" alt="" />
                    </div>
                    <div class="grid news_desc">
                        <h3>Acer увеличава гейминг портфолиото си с нови лаптопи и монитори Predator </h3>
                        <h4>Jan 4, 2023 от <span><a href="#">Finibus Bonorum</a></span></h4>
                        <p>Acer увеличи своето портфолио с два нови мощни гейминг лаптопа Predator Helios, както и два монитора от серията Predator. 
                            Лаптопите разполагат с изцяло нов дизайн с 16-инчов и 18-инчов екран, най-новото 13-о поколение Intel Core мобилни 
                            процесори и NVIDIA GeForce RTX 40 Series GPU. Това ги позиционира като най-мощните лаптопи за игри на Acer до момента. 
                          Predator X45 демонстрира масивен 800R извит монитор и печели награда за иновации на CES в категорията „Компютърни периферни
                          устройства и аксесоари“. Заедно с Predator X27U, и двата монитора включват OLED технология с бърза 240 Hz честота на
                          опресняване. <a href="#" title="more">[....]</a></p>
                    </div>
                </div>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <img src="images/newsimg2.jpg" alt="" />
                    </div>
                    <div class="grid news_desc">
                        <h3>Как технологиите пречат на нашата способност да се свързваме с другите хора </h3>
                        <h4>Aug 8th, 2022 by <span><a href="#">Анна Иванова</a></span></h4>
                        <p>В днешно време все повече хора избират да комуникират през телефони и лаптопи, вместо да разговарят пряко един с друг. 
                            Въпреки че тези технологии ни помагат да сме във връзка с хората, които обичаме и да извършваме бизнес задачи, те могат
                            да ни отдалечат от реалния свят и да ни пречат да се свържем един с друг по естествен начин.Една от основните причини, 
                         поради които хората не могат вече да си говорят между себе си, е това, че използват много технологии. Когато ние прекарваме 
                         повече време на телефоните и лаптопите си, ние загубваме връзка с реалния свят. Вместо да се срещаме с приятели за кафе или
                         да ходим на прогулки в парка, ние често се ограничаваме в комуникацията си до текстови съобщения или видео обаждания.
                         Тези технологии също могат да пречат на емоционалната ни връзка с другите хора. Вместо да имаме естествени и непринудени 
                         разговори, когато сме заедно, ние можем да се чувстваме по-несигурни и ограничени, когато говорим през телефона или лаптопа.<p>

                         <p> Казва министъра за образование и наука. <a href="#" title="more">[....]</a></p>
                    </div>
                </div>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <img src="images/newsimg3.jpg" alt="" />
                    </div>
                    <div class="grid news_desc">
                        <h3>Колко пари се генерират от технологичната индустрия? </h3>
                        <h4> Aug 1st, 2021 by <span><a href="#">Петър Георгиев </a></span></h4>
                        <p>Технологията е бързо развиващ се сектор, който създава много нови възможности за предприемачи и инвеститори. Все повече
                            хора се започват да се интересуват от това, колко пари могат да се изкарат от инвестиране в технологии. В тази статия ще 
                            разгледаме някои от най-печелившите компании в технологичния сектор, както и някои от важните фактори, които влияят върху тяхната печалба.
                            Една от най-успешните компании в технологичния сектор е Amazon. Създадена през 1994 година като онлайн книжарница, Amazon се разви много 
                            бързо и днес е една от най-големите онлайн платформи за продажба на стоки и услуги. През 2020 година Amazon генерира приходи от над 386
                            милиарда долара, като компанията се оценява на над 1,6 трилиона долара. Също така, основателят на Amazon, Джеф Безос, е най-богатият
                            човек в света, със забележително богатство, оценено на над 177 милиарда долара.Facebook е друга много успешна технологична компания, 
                            която е създадена през 2004 година от Марк Зукърбърг. Платформата за социални мрежи е събрала милиарди потребители по света и генерира
                            големи приходи от реклама. През 2020 година Facebook генерира приходи от над 86 милиарда долара и е оценена на над 832 милиарда долара.
                       Apple е третата технологична компания в списъка на Forbes Global 2000, която е оценена на над 2,2 трилиона долара. Компанията е основана през 
                       1976 година и произвежда компютри, мобилни устройства, софтуер и други технологии. Apple е известна с маркетинговите си усилия и дизайна на
                       продуктите си, което я прави много популярна сред потребителите.  <a href="#" title="more">[....]</a></p>
                    </div>
                </div>
                <div class="content-pagenation">
                    <li><a href="#">Frist</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><span>....</span></li>
                    <li><a href="#">Last</a></li>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Информация</h4>
                    <ul>
                        <li><a href="about.html">За нас</a></li>
                        <li><a href="contact.html">Обслужване на клиенти</a></li>
                        <li><a href="delivery.html">Поръчки и връщания</a></li>
                        <li><a href="contact.html">Свържете се с нас</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>ЗАЩО ДА КУПУВАТЕ ОТ НАС</h4>
                    <ul>
                        <li><a href="about.html">За нас</a></li>
                        <li><a href="contact.html">Обслужване на клиенти</a></li>
                        <li><a href="#">Политика за поверителност</a></li>
                        <li><a href="contact.html">Карта на сайта</a></li>
                        <li><a href="#">Условия за търсене</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>МОЙОТ АКАУНТ</h4>
                    <ul>
                        <li><a href="contact.html">Регистрирай се</a></li>
                        <li><a href="index.html">Вижте количката</a></li>
                        <li><a href="#">Моят магазин</a></li>
                        <li><a href="contact.html">Помош</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Контакти</h4>
                    <ul>
                        <li><span>088-345-0780</span></li>
                        <li><span>088-231-2333</span></li>
                    </ul>
                    <div class="social-icons">
                        <h4>Последвай ни</h4>
                        <ul>
                            <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
                            <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p>&copy; 2023. HOME SHOP.</p>
        </div>
    </div>
    <script type="text/javascript">$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>
